div {
	border: 20px solid #000;
	display: inline-block;
	min-width: 20em;
	min-height: 25em;
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

#red {
	border-top-color: #ff0000
}

#orange {
	border-top-color: #ffa500
}

#yellow {
	border-top-color: #ffff00
}

#green {
	border-top-color: #00bc3f
}

#blue {
	border-top-color: #0066ff
}

#indigo {
	border-top-color: #8a2be2
}

#violet {
	border-top-color: #d300c9
}
